@import url("https://fonts.googleapis.com/css?family=Abel");
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css);
* {
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
  color: #f4f1de;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

body{
  background: #302840;
  color: orange;
}

.menu-item, .top-menu-item {
  display: inline-block;
  cursor: pointer;
}

.menu-item a, .top-menu-item a{
  text-transform: uppercase;
  color: #f4f1de;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  transition: all 300ms ease;
  cursor: pointer;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 20px;
}

.menu-item a:hover, .top-menu-item a:hover{
  background-color: #e07a5f;
  color: #302840;
  font-weight: bold;
}

footer div{
  color: #b5b4a3
}

#game-content .top-menu {
	align-items: center;
	justify-content: center;
}

div.game-data p{
    margin-bottom: 4px;
	margin-top: 1.5%;
}

div.game-data span {
	color: #9c96a9;
}

.buy-button, .game-buy-buttons {
	display: inline-block;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}

.buy-button a {
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
	color: #f4f1de;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: #e07a5f;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 20px;
}


div{border: 1px solid white;}